.pagination {
  display: inline-block;
}

.pagination ul li {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  list-style-type: none;
}

.pagination ul li.active {
  background-color: rgb(25, 28, 180);
  color: white;
  border: 1px solid rgb(25, 28, 180);
}

.pagination ul li:hover:not(.active) {background-color: #ddd;}

.panel.panel-default .panel-heading{
  background-color: rgb(25, 28, 180);
}